In [74]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

# Load the diabetes dataset

In [75]:
diabetes = load_diabetes(as_frame=True)
x = diabetes.data
y = diabetes.target

In [76]:
x.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

# Creation of a table to store the cross-validation results:

In [77]:
results_table = pd.DataFrame(columns=['Degree', 'R-Squared', 'MAE'])

In [78]:
from sklearn.model_selection import cross_val_score

degrees = range(9) 
for degree in degrees:
    # Create polynomial features
    poly_features = PolynomialFeatures(degree=degree)
    X_poly = poly_features.fit_transform(x)

    # Create a linear regression model
    model = LinearRegression()

    # Perform cross-validation
    scores = cross_val_score(model, X_poly, y, cv=5, scoring='r2')
    mae_scores = cross_val_score(model, X_poly, y, cv=5, scoring='neg_mean_absolute_error')

    # Calculate mean and standard deviation of scores
    r2_mean = np.mean(scores)
    r2_std = np.std(scores)
    mae_mean = -np.mean(mae_scores)
    mae_std = np.std(-mae_scores)

    # Store the results in the table
    results_table = results_table.append({
        'Model': 'Polynomial',
        'Degree': degree,
        'R-Squared': f"{r2_mean:.4f} +/- {r2_std:.4f}",
        'MAE': f"{mae_mean:.4f} +/- {mae_std:.4f}"
    }, ignore_index=True)

# Print the results table
print(results_table)

  Degree               R-Squared                    MAE       Model
0      0      -0.0275 +/- 0.0368     66.0456 +/- 3.4747  Polynomial
1      1       0.4823 +/- 0.0493     44.2765 +/- 2.1001  Polynomial
2      2       0.3915 +/- 0.1205     46.6129 +/- 2.1921  Polynomial
3      3  -184.3914 +/- 229.2602  342.2003 +/- 140.2360  Polynomial
4      4    -70.6675 +/- 53.1608   303.1585 +/- 39.3598  Polynomial
5      5    -67.3874 +/- 50.7971   295.6860 +/- 37.2559  Polynomial
6      6    -67.4475 +/- 50.9571   295.6319 +/- 37.2806  Polynomial
7      7    -67.4485 +/- 50.9594   295.6304 +/- 37.2814  Polynomial
8      8    -67.4478 +/- 50.9605   295.6275 +/- 37.2810  Polynomial

# Calculation of mean and standard deviation of the R-Squared and MAE metrics

In [79]:
print(results_table)

  Degree               R-Squared                    MAE       Model
0      0      -0.0275 +/- 0.0368     66.0456 +/- 3.4747  Polynomial
1      1       0.4823 +/- 0.0493     44.2765 +/- 2.1001  Polynomial
2      2       0.3915 +/- 0.1205     46.6129 +/- 2.1921  Polynomial
3      3  -184.3914 +/- 229.2602  342.2003 +/- 140.2360  Polynomial
4      4    -70.6675 +/- 53.1608   303.1585 +/- 39.3598  Polynomial
5      5    -67.3874 +/- 50.7971   295.6860 +/- 37.2559  Polynomial
6      6    -67.4475 +/- 50.9571   295.6319 +/- 37.2806  Polynomial
7      7    -67.4485 +/- 50.9594   295.6304 +/- 37.2814  Polynomial
8      8    -67.4478 +/- 50.9605   295.6275 +/- 37.2810  Polynomial